<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 * Copyright (c) 2024 Payfast (Pty) Ltd
 *
 * Author: App Inlet (Pty) Ltd
 *
 * Released under the GNU General Public License
 */
-->
<extension>
	<id>paygate</id>
	<version>1.1.0</version>
	<type>payment</type>
	<category>Payment</category>
	<cartversions>
		<item>1.2</item>
	</cartversions>
	<priority>10</priority>
	<dependencies></dependencies>
	<settings>
		<item id="paygate_merchant_id">
			<type required="true">input</type>
		</item>
		<item id="paygate_merchant_key">
			<type required="true">input</type>
		</item>
		<item id="paygate_order_status_id">
			<type>selectbox</type>
			<variants>
				<data_source>
					<model_rt>localisation/order_status</model_rt>
					<method>getOrderStatuses</method>
				</data_source>
				<fields>
					<field>order_status_id</field>
					<field>name</field>
				</fields>
			</variants>
			<default_value>1</default_value>
		</item>
		<item id="paygate_location_id">
			<type>selectbox</type>
			<variants>
				<item>0</item>
				<data_source>
					<model_rt>localisation/location</model_rt>
					<method>getLocations</method>
				</data_source>
				<fields>
					<field>location_id</field>
					<field>name</field>
				</fields>
			</variants>
		</item>
		<item id="paygate_credit_card">
			<type>selectbox</type>
			<variants>
				<item>1</item>
				<item>0</item>
			</variants>
			<default_value>0</default_value>
		</item>
		<item id="paygate_bank_transfer">
			<type>selectbox</type>
			<variants>
				<item>1</item>
				<item>0</item>
			</variants>
			<default_value>0</default_value>
		</item>
		<item id="paygate_applepay">
			<type>selectbox</type>
			<variants>
				<item>1</item>
				<item>0</item>
			</variants>
			<default_value>0</default_value>
		</item>
		<item id="paygate_samsungpay">
			<type>selectbox</type>
			<variants>
				<item>1</item>
				<item>0</item>
			</variants>
			<default_value>0</default_value>
		</item>
		<item id="paygate_mobicred">
			<type>selectbox</type>
			<variants>
				<item>1</item>
				<item>0</item>
			</variants>
			<default_value>0</default_value>
		</item>
		<item id="paygate_momopay">
			<type>selectbox</type>
			<variants>
				<item>1</item>
				<item>0</item>
			</variants>
			<default_value>0</default_value>
		</item>
		<item id="paygate_scan_to_pay">
			<type>selectbox</type>
			<variants>
				<item>1</item>
				<item>0</item>
			</variants>
			<default_value>0</default_value>
		</item>
		<item id="paygate_snapscan">
			<type>selectbox</type>
			<variants>
				<item>1</item>
				<item>0</item>
			</variants>
			<default_value>0</default_value>
		</item>
		<item id="paygate_rcs">
			<type>selectbox</type>
			<variants>
				<item>1</item>
				<item>0</item>
			</variants>
			<default_value>0</default_value>
		</item>
		<item id="paygate_zapper">
			<type>selectbox</type>
			<variants>
				<item>1</item>
				<item>0</item>
			</variants>
			<default_value>0</default_value>
		</item>
	</settings>
	<help_file><![CDATA[help.txt]]></help_file>
	<install>
		<trigger>install.php</trigger>
	</install>
	<uninstall>
		<trigger>uninstall.php</trigger>
	</uninstall>
</extension>
